<template>
  <div class="header-nav">
    <nav class="cyan darken-1">
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
          <li><router-link class="waves-effect waves-light" to="/">Home</router-link></li>
          <li><router-link class="waves-effect waves-light" to="about">About Us</router-link></li>
          <li><router-link class="waves-effect waves-light" to="contact">Contact Us</router-link></li>
        </ul>
      </div>
    </nav>
    <ul id="mobile-sidenav" class="sidenav">
      <li><router-link to="/">Home</router-link></li>
      <li><router-link to="about">About Us</router-link></li>
      <li><router-link to="contact">Contact Us</router-link></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Navbar',
  mounted() {
    let elems = document.querySelectorAll('.sidenav')
    Materialize.Sidenav.init(elems)
  }
}
</script>
