<template>
  <div class="row">
    <h2>Contact Us</h2>
    <h5 v-show="isSended" class="blue-text text-darken-2">Your message has been successfully sent.</h5>
    <form v-show="!isSended" class="col s12 form">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_box</i>
          <input id="input_name" ref="name" v-model="messageForm.name" type="text">
          <label for="input_name">Name</label>
          <span class="helper-text" data-error="Minimum number of characters 3" data-success="success"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="input_phone" ref="phone" v-model="messageForm.phone" type="text">
          <label for="input_phone">Phone</label>
          <span class="helper-text" data-error="The phone number starts with 7, +7 or 8. total numbers 11" data-success="success"></span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">message</i>
          <textarea id="message" ref="message" v-model="messageForm.message" class="materialize-textarea"/>
          <label for="message">Textarea</label>
          <span class="helper-text" data-error="Maximum number of characters 250, minimum 1" data-success="success"></span>
          <span class="character-counter" style="float: right; font-size: 12px;">{{ messageForm.message.length }}/250</span>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="button" name="action" @click="sendForm">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import { min, max, validPhone } from '@/utils/validate'
import { mapGetters } from 'vuex'
export default {
  name: 'Contact',
  data() {
    return {
      messageForm: {
        name: '',
        phone: '',
        message: ''
      },
      isSend: false
    }
  },
  computed: {
    isSended() {
      return this.isSend || this.form.name && this.form.phone && this.form.message
    },
    ...mapGetters([
      'form'
    ])
  },
  methods: {
    valid() {
      let valid = true
      const message = this.$refs.message
      const phone = this.$refs.phone
      const name = this.$refs.name

      if (!min(this.messageForm.name, 3)) {
        name.className = 'invalid'
        valid = false
      } else {
        name.className = 'valid'
      }

      if (!validPhone(this.messageForm.phone)) {
        phone.className = 'invalid'
        valid = false
      } else {
        phone.className = 'valid'
      }

      if (!max(this.messageForm.message, 250)) {
        message.className = 'materialize-textarea invalid'
        valid = false
      } else {
        message.className = 'materialize-textarea valid'
      }

      return valid
    },
    sendForm() {
      if (this.valid()) {
        this.$store.dispatch('sendMessage', this.messageForm).then(() => {
          this.isSend = true
          this.$refs.name.className = ''
          this.$refs.phone.className = ''
          this.$refs.message.className = 'materialize-textarea'
        })
      }
    }
  }
}
</script>
