<template>
  <div>
    <h2>About us</h2>
    <img src="http://pandeysoftwaresolutions.com/img/about/1.jpg" alt="" class="aboutUs-img">
    <p class="aboutUs-text">
      For more than 27 years, Emerald Connect has been the premier provider of solutions-based marketing and technology tools for the financial services industry. Emerald’s product line includes mobile-responsive, content-rich websites; client newsletters; comprehensive and topic-specific seminars; social media content; targeted email marketing; and direct-mail support services that set the benchmark for the industry.
    </p>
    <p class="aboutUs-text">
      Emerald’s goal as a marketing partner is to help advisors achieve success in prospecting for new business, retaining existing clients, branding their practices, and building profitable businesses. Emerald was acquired by Broadridge Financial Solutions in February 2014.
    </p>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>
