<template>
  <div>
    <slick ref="slick" :options="slickOptions">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Perisserosa_guttata_guttata_600x600.JPG" alt="">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Gallet_clamshell_600x600_movement.jpg" alt="">
      <img src="http://twitter-bikes.ru/images/models/mantis-e1/twitter_mantis-e1_main-600x600.jpg" alt="">
      <img src="http://www.vestoro.com/wp-content/uploads/2016/05/600x600-Image2.jpg" alt="">
    </slick>
  </div>
</template>

<script>
import Slick from 'vue-slick'
const { body } = document
const WIDTH = 1024
const RATIO = 3

export default {
  name: 'Home',
  components: { Slick },
  data() {
    return {
      slickOptions: {
        dots: true,
        infinite: true,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 5000,
        arrows: false
        // Any other options that can be got from plugin documentation
      }
    }
  },
  created() {
    this.slickOptions.slidesToShow = this.isMobile() ? 1 : 3
  },
  methods: {
    isMobile() {
      const rect = body.getBoundingClientRect()
      return rect.width - RATIO < WIDTH
    },
    next() {
      this.$refs.slick.next()
    },
    prev() {
      this.$refs.slick.prev()
    },
    reInit() {
      this.$nextTick(() => {
        this.$refs.slick.reSlick()
      })
    }
  }
}
</script>
